server:
  port: ${PORT:${SERVERS_PORT:0}}

spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/ms_auth
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

  otlp:
    metrics:
      export:
        enabled: true
        url: http://localhost:4328/v1/metrics
        step: 10s
    tracing:
      endpoint: http://localhost:4328/v1/traces

  tracing:
    sampling:
      probability: 1.0

otel:
  sdk:
    disabled: false
  service:
    name: ${spring.application.name}
  exporter:
    otlp:
      endpoint: http://localhost:4328
      protocol: http/protobuf
  logs:
    exporter: logging
  metrics:
    exporter: otlp
  traces:
    exporter: otlp

  propagators: tracecontext,baggage
  instrumentation:
    logback-appender:
      enabled: true
    spring-webmvc:
      enabled: true
    jdbc:
      enabled: true

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
  level:
    root: INFO
    com.csx.msauth: DEBUG
    io.opentelemetry: INFO
    io.opentelemetry.exporter: INFO
    io.opentelemetry.instrumentation: INFO

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000